﻿@model IEnumerable<OddestOdds.Presentation.Models.GameViewModel>

@{
    ViewBag.Title = "Index";
}



<div class="jumbotron"> <h1>Odds Backend</h1></div>
<br />
<div class="row well">
    <div class="col-xs-1"></div>
    <div class="col-xs-5">@Html.DisplayNameFor(model => model.Name)</div>
    <div class="col-xs-1">1</div>
    <div class="col-xs-1">X</div>
    <div class="col-xs-1">2</div>
    <div class="col-xs-3">Commands</div>
</div>
<div class="row">
    <div id="gameContainer" class="col-xs-12">
        @foreach (var item in Model)
        {
        <div class="row game" data-eventid="@item.Id">
            <div class="col-xs-1">
                <span class="txt-locked" style="color:red;display:none;">Locked!</span>
                <button class="btn btn-sm btn-delete">Delete</button>
            </div>
            <div class="col-xs-5 name">@item.Name</div>
            <div class="col-xs-1 odd-home" data-oddid="@item.HomeOddId">
                <input type="text" value="@item.HomeOddValue" disabled />
            </div>
            <div class="col-xs-1 odd-draw" data-oddid="@item.DrawOddId">
                <input type="text" value="@item.DrawOddValue" disabled />
            </div>
            <div class="col-xs-1 odd-away" data-oddid="@item.AwayOddId">
                <input type="text" value="@item.AwayOddValue" disabled />
            </div>
            <div class="col-xs-3 commands">
                <button class="btn btn-sm btn-lock">Lock</button>
                <button class="btn btn-sm btn-update" style="display:none;">Update</button>
            </div>
        </div>
        }
    </div>
</div>

<div class="row">
    <div id="gameCreator" class="col-xs-12">
        <div class="row">
            <div class="col-xs-1"></div>

            <div class="col-xs-5 name">
                <input type="text" id="txtNewEvent">
            </div>
            <div class="col-xs-1">
                <input type="text" id="txtNewHomeOdd" />
            </div>
            <div class="col-xs-1">
                <input type="text" id="txtNewDrawOdd" />
            </div>
            <div class="col-xs-1">
                <input type="text" id="txtNewAwayOdd" />
            </div>
            <div class="col-xs-3">
                <button class="btn btn-sm btn-create">Create</button>
            </div>
        </div>
    </div>
</div>



@section scripts{


    <!--
         there were problem referencing /signalr/hubs trough the use of bundles,
        not enough time and reason to investigate, so I split the js bundle.
        -->
    @Scripts.Render("~/bundles/signalR")
    <script type="text/javascript" src="/signalr/hubs"></script>
    @Scripts.Render("~/bundles/signalR/clients")



}
