﻿@model IEnumerable<OddestOdds.Presentation.Models.GameViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron"> <h1>Odds List Index</h1></div>
<br />
<div class="row well">
    <div class="col-xs-6">@Html.DisplayNameFor(model => model.Name)</div>
    <div class="col-xs-2">1</div>
    <div class="col-xs-2">X</div>
    <div class="col-xs-2">2</div>
</div>
<div class="row">
    <div id="gameContainer" class="col-xs-12">
        @foreach (var item in Model)
        {
            <div class="row" data-eventid="@item.Id">
                <div class="col-xs-6">@item.Name</div>
                <div class="col-xs-2 odd" data-oddid="@item.HomeOddId">@item.HomeOddValue</div>
                <div class="col-xs-2 odd" data-oddid="@item.DrawOddId">@item.DrawOddValue</div>
                <div class="col-xs-2 odd" data-oddid="@item.AwayOddId">@item.AwayOddValue</div>
            </div>
        }
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/signalR")
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/app/oddestOddsHubClient.frontend.js"></script>



}